.subject {
  &-header {
    display: flex;
    justify-content: space-between;
    .intro {
      width: 500px;
      .cover {
        float: left;
        width: 135px;
        img {
          width: 100%;
        }
      }
      &-list {
        float: left;
        margin-left: 10px;
        font-size: 13px;
        color: #666;
        p {
          line-height: 1.6;
        }
        span {
          color: #222;
        }
      }
    }
    .score {
      border-left: 1px solid #ddd;
      padding-left: 10px;
      color: #999;
      font-size: 12px;
      .stars {
        display: flex;
        height: 50px;
        margin-top: 10px;
        .num {
          margin-right: 10px;
          font-size: 28px;
          color: #222;
        }
        .p {
          margin-top: 5px;
        }
      }
    }
  }
  .tags-list {
    margin-bottom: 30px;
  }
  .doulist {
    margin-bottom: 40px;
    li {
      padding: 5px;
      line-height: 1.5;
      border-bottom: 1px dashed #ddd;
      font-size: 13px;
      color: #666;
      span {
        margin-left: 3px;
      }
    }
  }
  .album-list {
    > li {
      padding: 10px 0 15px;
      border-bottom: 1px dashed #ddd;
      font-size: 12px;
      .avatar {
        float: left;
        width: 48px;
        height: 48px;
        img {
          width: 100%;
        }
      }
      .info {
        float: left;
        margin-left: 10px;
        color: #666;
        .stars {
          margin: 5px 0;
          .ant-rate-star {
            margin-right: 3px;
          }
        }
      }
    }
  }
}
