.tag {
  &-title {
    font-size: 26px;
    color: #494949;
    margin-bottom: 15px;
  }
  &-classify {
    margin-bottom: 10px;
    padding: 10px 0;
    border-bottom: 1px solid #aaa;
    text-align: right;
    color: #aaa;
    font-size: 13px;
    .division {
      display: inline-block;
      padding: 0 3px;
    }
    span {
      cursor: pointer;
      &.active {
        color: #49a;
        &:hover {
          color: #49a;
          background: none;
        }
      }
      &:hover {
        background: #37a;
        color: #fff;
      }
    }
  }
  h2 {
    margin-bottom: 15px;
    line-height: 1.5;
    font-size: 16px;
    color: #072;
    font-weight: 400;
  }
  &-mod {
    margin-bottom: 30px;
  }
  &-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  &-item {
    line-height: 2;
    a {
      color: #37a;
      &:hover {
        color: #fff;
        background: #37a;
      }
      &:link {
        color: #49a;
      }
    }
    span {
      color: #aaa;
    }
  }
}
